
<router-outlet></router-outlet>

<!-- <a class="btn btn-primary" style="margin-top: 100px;" routerLink="/post" routerLinkActive="active">Go to post</a>
<a class="btn btn-primary" style="margin-top: 100px;" routerLink="/list" routerLinkActive="active">Go to list</a>
<a class="btn btn-primary" style="margin-top: 100px;" routerLink="/main" routerLinkActive="active">Go to index</a> -->

<!-- <app-post></app-post> -->
<!-- <app-beststudent></app-beststudent> -->
<!--<app-achieve></app-achieve>-->
<!-- <app-update></app-update>-->

<!-- Footer -->
<div class="bottom section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright">
          <p>© <span>2020</span> <a href="#" class="transition">Wanda Khalishah</a> All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
